#main-screen body {
    background-color: #ffffff;
    color: #000000;
    font-family: Cardo sans-serif;
    font-size: 1rem;
}

#main-screen header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

#main-screen body {
    display: flex;
    flex-direction: column;
}

#main-screen main {
    margin-top: 3rem;
}

#main-screen footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*TODO: ask if right (position:fixed)*/
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #979797;
}

#main-screen h1 {
    font-size: 2.5rem;
}

#main-screen h2 {
    text-align: center;
    font-size: 1.5rem;
}

#main-screen button {
    width: 10rem;
    height: 2.5rem;
}

#main-screen img {
    margin: auto 0.5rem 0.5rem 0.5rem;
    height: 3rem;
    width: 3rem;
}


#main-screen section div {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

#main-screen .normal-card, .special-card, .utility-card{
    text-align: center;
    width: 10rem;
    padding: 1rem;
    background-color: #979797;
}

#main-screen .normal-card p {
    margin: 1rem;
}


/*TODO: make sure the go card is proper
   simuleer het met de function call getCardById(0)*/

#main-screen .special-card h3 {
    margin-top: auto;
    margin-bottom: auto;
}

#main-screen .middle {
    width: 15rem;
}

#main-screen #arrows {
    width: 8.25rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

#main-screen #arrows img:last-of-type {
    transform: scaleX(-1);
}

#main-screen .info-container {
    display: flex;
    padding: 0.8rem;
}

#main-screen .info-container p {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

#main-screen .info-container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main-screen .square {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.1rem;
    border: solid 0.065rem;
    justify-content: center;
    align-items: center;
}
